.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.icon>img{
    padding: 10px;
    width: 100px;
}

.card{
    min-width: 400px;
    max-width: 400px;
    margin: 15px;
}

.row-card{
    display: flex;
    overflow-x: scroll;
    margin-bottom: 50px;
}

.buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.list{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.card-des{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-description{
    color: rgb(0, 0, 0);
    text-align: center;
}

.flor>p{
    color: rgb(182, 27, 27);
}
